# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Uploaded medical files
uploads/*
!uploads/.gitkeep

# Converted medical files
converted/*
!converted/.gitkeep

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db